@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Book Management app</h1>
    <p class="lead">Here you can borrow any book you like as long as the book is free</p>
    <p><a href="/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @foreach (var book in ViewBag.bookList)
    {
        <div class="col-md-4">
            <h2>@book.BookTitle</h2>
            <p>
                Click below button to see more!
            </p>
            <p>Written by @book.Author | Found at library with Number: @book.ISBN | Issued in: @book.IssuedYear</p>
            <p>@Html.ActionLink("View book", "Details", "Book", new { id = book.Id }, new { @class = "btn btn-success" })</p>
        </div>
    }

    <h3 class="text-left">Available users:</h3>
    @foreach (var user in ViewBag.userList)
    {
<div class="col-md-4">
    <h2>Fullname: @user.FirstName @user.LastName</h2>
    <p>Email: @user.Email | Phone: @user.Phone</p>

    <p>@Html.ActionLink("View User", "Details", "User", new { id = user.Id }, new { @class = "btn btn-info" })</p>

</div>
    }

</div>